.tripCard {
  display: flex;
  flex: 1;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 20px rgba(#a6aeba, 0.1);
  transition: all 0.1s ease-in-out;
  h6 {
    padding-bottom: 2rem;
    &:before {
      content: "";
      height: 4px;
      width: 73px;
      border-radius: 4px;
      background-color: #366aba;
      position: absolute;
      bottom: 0;
    }
  }
  &:hover {
    transform: scale(1.05);
  }
}
