.customJumbotron {
  height: 770px;
  background-image: url("/img/img-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  h1 {
    font-family: "Merriweather", serif;
    font-size: 52px;
    font-weight: 700;
    color: #282828;
  }
  span {
    font-weight: 700;
    margin-left: 2rem;
  }
}
.playIcon {
  position: relative;
  background-color: white;
  width: 76px;
  height: 76px;
  border-radius: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(57, 70, 128, 0.2);
  z-index: 1;
  transition: all 0.1s ease-in-out;
  i {
    font-size: 2rem;
    transform: translate(5%, -7.5%);
    color: #366aba;
  }
  &:hover {
    background-color: #366aba;
    i {
      color: white;
    }
    &:before {
      height: 118px;
      width: 118px;
      opacity: 0.5;
    }
  }
  &:before {
    content: "";
    position: absolute;
    height: 106px;
    width: 106px;
    border-radius: 999px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(57, 70, 128, 0.2);
    opacity: 0.2;
    z-index: -1;
    transition: all 0.1s ease-in-out;
  }
}
