// import fonts
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

// variables
$font-family-heading: "Merriweather", serif;
$font-family-text: "Roboto", sans-serif;

$primary: #366aba;
$black: #282828;
$white: #fff;
$success: #4caf50;

body,
html {
  background-color: #f7faff;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.App {
  color: $black;
  background-color: #f7faff;
  font-family: $font-family-text;
  transform: translateZ(0);
  overflow-x: hidden;
}
.btn {
  &-primary {
    background-color: $primary !important;
    border-color: $primary !important;
  }
  &-success {
    background-color: $success;
    color: $white !important;
  }
  &-outline {
    &-primary {
      border-color: $primary !important;
      color: $primary !important;
    }
  }
}
.bg {
  &-primary {
    background-color: $primary !important;
  }
}
.navbar {
  height: 80px;
  background-color: $white !important;
}
.home {
  .jumbotron {
    height: 770px;
    font-family: $font-family-heading;
    color: #282828;
    background-image: url("./img/img-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      font-size: 52px;
    }
  }
  .toggle-video {
    padding: 0;
    position: relative;
    color: $primary;
    background-color: $white;
    border: none;
    border-radius: 999px;
    height: 76px;
    width: 76px;
    transition: all 0.1s ease-in-out;
    z-index: 10;
    box-shadow: 0 0 20px rgba(#394680, 0.2);
    &:before {
      position: absolute;
      content: "";
      height: 106px;
      width: 106px;
      top: -15px;
      left: -15px;
      border-radius: 999px;
      background-color: rgba($white, 0.2);
      transition: all 0.1s ease-in-out;
      z-index: 1;
      box-shadow: 0 0 20px rgba(#394680, 0.2);
    }
    &:hover {
      color: $white;
      background-color: $primary;
      &:before {
        background-color: rgba($white, 0.5);
        height: 118px;
        width: 118px;
        top: -21px;
        left: -21px;
      }
    }
    i {
      font-size: 2rem;
      &:before {
        margin-bottom: 0.2rem;
        margin-left: 0.3rem;
      }
    }
  }
  .button-support {
    font-family: $font-family-text;
  }
  .video {
    position: absolute;
    background-color: rgba(#000, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .search-title {
    position: relative;
    padding-bottom: 1rem;
    padding-left: 1rem;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 162px;
      background-color: $primary;
      border-radius: 4px;
    }
  }
  .states-list {
    white-space: nowrap;
    overflow-x: auto;
    padding: 1rem 0;
  }
  .trip-card {
    display: flex;
    flex-grow: 1;
    p {
      &:after {
        content: "";
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        height: 4px;
        width: 73px;
        background-color: $primary;
        border-radius: 4px;
      }
    }
  }
}

.card {
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 0 0 20px rgba(#a6aeba, 0.1);
}

.convento {
  .jumbotron {
    background-color: #def1fe;
    height: 565px;
    font-family: $font-family-heading;
    h1 {
      font-size: 64px;
      margin-top: 9rem;
      @media (max-width: 600px) {
        font-size: 2.5rem;
        margin-top: 12rem;
      }
    }
  }
  .author {
    .h6 {
      font-size: 18px;
    }
    .text-muted {
      font-size: 14px;
    }
  }
  .text {
    font-family: $font-family-heading;
    font-size: 18px;
    img {
      width: 100%;
      margin: 2rem 0;
    }
  }
}

.login {
  height: 90vh;
  .card {
    .card-body {
      padding: 2rem;
      h4 {
        font-size: 32px;
      }
    }
  }
  a {
    color: $primary !important;
    text-decoration: underline !important;
  }
  input,
  button,
  div.input-group-text {
    border-radius: 10px;
  }
}

.dashboard {
  h6 {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
  }
  .breadcrumb {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 10px;
    &-item {
      font-weight: bold;
      color: $primary;
      &.active {
        font-weight: normal;
        color: $black;
      }
    }
  }
  .table {
    thead {
      font-size: 18px;
      tr {
        th {
          border: none;
        }
      }
    }
    tbody {
      font-size: 14px;
      tr {
        td {
          border: none;
        }
      }
    }
    td {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    button {
      background-color: transparent;
      border: none;
      color: $primary;
    }
  }
}
