.searchBox {
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 20px rgba(#a6aeba, 0.1);
  h4 {
    position: relative;
    padding-bottom: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    &:before {
      content: "";
      height: 4px;
      width: 162px;
      border-radius: 4px;
      background-color: #366aba;
      position: absolute;
      bottom: 0;
      left: -2rem;
    }
  }
}
